.play {
    display:inline-block;
    margin:5px;
    width: 24px;
    height: 32px;
    background-repeat: no-repeat;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAgCAYAAAAIXrg4AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAMZJREFUeNq0lt0NgzAMhIPlfWAR1BXYpDBSxSCFiYr70CqKUH6cO0t+SEC++xxkIvP8eFuOgRRiOVkeJvJkCAxW+BOtD8tl318nkiAOOE1KENA0knkGockRQGik8j03TS2Bm0YcbW2i8RA00UjnZ16k6SUo0ghw7NzSIAluaSRw4k/DEqCcQdqiyVq0KaH4+i38WyjjYONNZbhGChRHhTJc9wo0jWtluPYIuH+ZynBdKwC5tijDdU4AfnVUhutUAO46jkuAAQD+jXZOTODXVwAAAABJRU5ErkJggg==);
}
.stop {
    display:inline-block;
    margin:5px;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAIAAAD8GO2jAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAACxJREFUeNrszUERAAAEADD0c/q3UYLfVmDZPfGp4plAIBAIBAKBQCC4sgIMAJggASlttpE8AAAAAElFTkSuQmCC);
}
p:hover {
    cursor:pointer;
    opacity:0.8;
}

.wrap{
    text-align: center;
    width: 400px;
    height: 200px;
    margin: 0 auto;
    margin-top: 200px;
}
.dropdown ul{
    width: 100% !important;
}
p:hover{
    cursor: default;
    opacity: 1;
}
.label{
    border-radius: 5px;
    margin-right: 6px;
}
.label:hover{
    cursor: pointer;
}
#bottomRow{
    margin-bottom: 1px;
}
.beatNum{
    padding-right: 133px;
}
#panel{
    position: relative;
}
#panel p{
    padding-left: 10px;
}
#mutes{
    position: absolute;
    left: 9px;
    top: 25px;
}
#mutes a{
    color: #fff;
}
.mute-button {
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    line-height: 1;
    white-space: nowrap;
    display: block;
    position: relative;
    bottom: 1px;
    color: #fff;
    background: rgba(146, 146, 146, 0.4);
    margin-bottom: 25px;
    padding: 2px;
}
.mute-button:hover, .active{
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    line-height: 1;
    white-space: nowrap;
    display: block;
    position: relative;
    bottom: 1px;
    color: #fff;
    background: rgba(146, 146, 146, 1.0);
    margin-bottom: 25px;
    padding: 2px;   
}
#clears{
    position: absolute;
    right: 9px;
    top: 25px;
}
#clears a{
    color: #444;
}
.clear-button {
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    line-height: 1;
    white-space: nowrap;
    display: block;
    position: relative;
    bottom: 1px;
    color: #fff;
    background: rgba(255, 255, 255, 0.4);
    margin-bottom: 26px;
    padding: 0px 2px 3px;
    border-radius: 35px;
}
.muted{
    background-color: rgb(146, 137, 137);
}
#social-icons{
    position: absolute;
    left: 249px;
    top: -2px;
}
#mobile-support{
    display: none;
}
#youtube-vid{
    /*display: none;*/
}
.more-controls{
    float: right;
    margin: 20px;
    display: none;
}
.ui-selecting { background: #FECA40; }
.ui-selected { background: #c60f13; }

.button.large{
    font-size: 17px;
    padding: 15px 24px 10px;
}
.full-screen-mode #panel p{
    margin: 10px 0px 32px 0px;
}
.full-screen-mode .mute-button{
    margin-bottom: 41px;
}
.full-screen-mode .clear-button{
    margin-bottom: 41px;
    font-size: 13px;
    margin-right: 10px;
}
.full-screen-mode .beatNum{
    padding-right: 216px;
}

.blocks {
    width: 980px;
    margin: 0 auto;
}
.step {
    width: 100px;
    height: 100px;
    display: block;
    float: left;
    margin: 10px;
    background-color: #3333ff;
}
.step:hover {
    transition: background-color 1s ease;
    background-color: #00cccc;
}
@media only screen and (max-width: 767px){
    .button{
        margin-bottom: 10px;
    }
}
@media only screen and (max-width: 649px){
    .four, .eight, #controls{
        display: none;
    }
    #mobile-support{
        display: block;
    }
}